.background-gradient {
  background: var(--background-color);
  transition: all 2s ease;
}

.background-gradient:hover {
  background-position: 100px;
}

.background-mimic {
    background: linear-gradient(to bottom, transparent, rgb(19, 19, 19));
}